<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/user">e-Shopping</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">New Arrivals <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Accounts</a>
          </li>
        </ul>
        <!-- Shoopin cart -->
        <div id='shoppingcart'>
          <ul class="list-group">
            <a href="/user/checkout">
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong> Your Cart</strong>
              <span class="badge badge-primary badge-pill" id='cartCounter'>0</span>
            </li>
          </a>
          </ul>
        </div>

      </div>
    </nav>